html{
font-size:0.8em
}

body{
background-color:#ccc;

}

.progressBar{
width:272px;
margin:auto;
height: 20px;

}

#titleSpan{
float:left;
top:1px;
position:relative;
}
.meta{
height:20px;
width:100%;
margin-left:5px;
}
ul{
list-style:none;
margin:0;
padding:0;
}

ul li{
cursor:pointer;
color:#444;
font-size:1em;
line-height:2em;
position:relative;
}
ul li:hover{
left:5px;

}

#bar{
background-color:#eee;
cursor:pointer;
float:left;
position:relative;
margin:3px;
height:7px;
width: 200px;
}

#controls{
height:30px;
width:60px;
float:right;
}

#handle{
cursor:pointer;
position:relative;
left:0;
height:9px;
width:5px;
background-color:#333;
top:-1px;
}


.btn{
background-color:#eee;
border-radius:2px;
margin:1px;
float:left;
cursor:pointer;
height:16px;
width:16px;
}

#playBtn{
background-image:url("../img/play.png");
}
#prevBtn{
background-image:url("../img/previous.png");
}
#nextBtn{
background-image:url("../img/next.png");
}



#playerdiv{
padding-top:100px;
width:996px;
height:500px;
margin:auto;
}
#display{
border-radius:5px;
background-color:#eee;
cursor:pointer;
-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
height:112px;
position:relative;
background-position:496px 0px;
background-repeat:no-repeat;
-webkit-transition: all 200ms linear;
-moz-transition: all 200ms linear;
}

.window{
background-image: url("../img/dots.png");
height:100%;
width:996px;
padding:0;
position:absolute;
left:0;
top:0;
}
.window div{
position:relative;
height:100%;
width:496px;
float:left;
}